{% extends "base/base.html" %}

{% block body %}
<div style="padding:10px;">
<center>

<div class="row">
<div class="card" style="width:48%;float:middle;">
  <img class="card-img-top" src="static/images/running.jpg">
  <div class="card-body">
    <h5 class="card-title">Running</h5>
    <p class="card-text">Running is a great cardio workout that can help you burn lots of calories and stay fit. But make sure to take rest days or you can seriously damage your joints!</p>
    <h6 style="font-size:9pt;">Articles on <a href="https://aaptiv.com/magazine/fitness/outdoor-running">Outdoor Running<a>!</h6>
  </div>
</div>

<div class="card" style="width:48%;">
  <img class="card-img-top" src="static/images/swimming.jpg">
  <div class="card-body">
    <h5 class="card-title">Swimming</h5>
    <p class="card-text">Swimming is a lower impact aerobic form of exercise. It works many muscle groups and helps you burn lots of fat. It even helps your body use oxygen more efficiently!</p>
    <h6 style="font-size:9pt;">Article on <a href="https://aaptiv.com/magazine/multisport-training-swimming">Swimming<a>!</h6>
  </div>
</div>
</div>
</div>


</center>
</div>
{% endblock %}
