{% extends "base/base.html" %}

{% block body %}
<div style="padding:10px;">
{% if lgoals > 0 %}
{% for i in goals %}
<div class="card">
  <div class="card-header">
    <h5 class="card-title" style="width:100%;">{{ i.name }} <span class="badge badge-pill badge-danger">U</span><a style="float:right;">Deadline: {{ i.done_by }}</a></h5>
    <div class="card-body">
      <div class="btn-group" role="group">
        {% for j in i.steps %}
          <div class="dropdown">
            <button type="button" class="btn btn-{% if j.done %}success{% else %}danger{% endif %} dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ j.name }}</button>
            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
              <li><a class="dropdown-item" href="#">{{ j.desc }}</a></li>
              <li role="separator" class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/complete?g={{ i.id }}&t={{ j.id }}">Task Completed</a></li>
            </ul>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% else %}
<div class="card">
  <div class="card-header">
    <h5 class="card-title" style="width:100%;">No goals were found!</h5>
    <div class="card-body">
      Create your own at the bottom of this page...
    </div>
  </div>
</div>
{% endif %}
</div>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#goalcreate" style="width:100%;position: fixed;bottom: 0;width: 100%;padding:10px;">
  Add Goal
</button>

<div class="modal fade" id="goalcreate" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create Goal</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Create Goal</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
