{% extends "base/textbase.html" %}

{% block body %}
<div class="card" style="width: 400px;height: 400px;position: absolute;top: 50%;left: 50%;margin-left: -200px;margin-top: -200px;">
<div class="card-header">
  Login
</div>
<div class="card-body">
<form method="post">
  <div class="form-group" class="form-control">
    <label>{{ form.email.label }}</label>
    {{ form.email(class="form-control") }}
    <br />
    <label></label>
    <label>{{ form.password.label }}</label>
    {{ form.password(class="form-control") }}
    <br />
    {% if form.errors %}
      <ul class="errors">
          {% for field_name, field_errors in form.errors|dictsort if field_errors %}
              {% for error in field_errors %}
                <li>{{ form[field_name].label }} {{ error }}</li>
              {% endfor %}
          {% endfor %}
      </ul>
    {% endif %}
    <input type="submit" value="Login" class="btn btn-success" style="width:100%;"></input>
  </div>
</form>
</div>
</div>
{% endblock %}
