<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="static/niche.css">
  <head>

    <link rel="shortcut icon" href="./static/icon.ico" />
    <title>Daily Planner</title>
  <!-- Colors used on this site are: (orange/red: #db3b0f) (blue: #0f71db) (purple: #a009b7) -->
  </head>
  <body>

    <img src="static/images/divbg.png" style="width:100%;">
    <div style="position:absolute;top:0;left:0;">
      <a href="/goals">
        <img style="width:32%;" src="static/images/1{%- if request.path == "/goals" %}h{% endif %}.png">
      </a>
      <a href="/intellect">
        <img style="width:32%;" src="static/images/2{%- if request.path == "/intellect" %}h{% endif %}.png">
      </a>
      <a href="/activities">
        <img style="width:32%;" src="static/images/3{%- if request.path == "/activities" %}h{% endif %}.png">
      </a>
    </div>
    {% block body %}
    {% endblock %}
  </body>
</html>
