<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="static/niche.css">
  <head>

    <link rel="shortcut icon" href="./static/icon.ico" />
    <title>Daily Planner</title>
  <!-- Colors used on this site are: (orange/red: #db3b0f) (blue: #0f71db) (purple: #a009b7) -->
  </head>
  <body>

    <ul class="nav nav-tabs nav-fill">
      <li class="nav-item" >
        <a class="nav-link{%- if request.path == "/goals" %} active{% endif %}" href="/goals">Goals</a>
      </li>
      <li class="nav-item">
        <a class="nav-link{%- if request.path == "/intellect" %} active{% endif %}" href="/intellect">Intellect</a>
      </li>
      <li class="nav-item">
        <a class="nav-link{%- if request.path == "/activities" %} active{% endif %}" href="/activities">Activities</a>
      </li>
    </ul>

    {% block body %}
    {% endblock %}
  </body>
</html>
