<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="niche.css">
  <head>

    <link rel="shortcut icon" href="./static/icon.ico" />
    <title>Daily Planner</title>
  <!-- Colors used on this site are: (orange/red: #db3b0f) (blue: #0f71db) (purple: #a009b7) -->
  </head>
  <body>
    <div class="row">
      <div class="col" style="background-color:#db3b0f;">
        <center><b>Exercise</b></center>
      </div>
      <div class="col" style="background-color:#0f71db;">
        Intellect
      </div>
      <div class="col" style="background-color:#a009b7;">
        Activities
      </div>
    </div>
    {% block body %}
    {% endblock %}
  </body>
</html>
