{% extends "base.html" %}

{% block body %}
<b>Teaching the Savior’s Way:</b>
<br \><br \> <t>My name is Warren Jennings and I was asked to speak on teaching the saviors way</t>
<br \><br \> <t>The savior taught in parables to explain the concept in a simple and understandable way while keeping things interesting and easy to relate to</t>
<br \><br \> <t>One of the easiest ways to make a lesson boring is to make people feel like it doesn’t apply to them, or to over complicate it so they can’t understand</t>
<br \><br \> <t>Parables solve both problems</t>
<br \><br \> <t>Here is one of the parables Jesus used</t>
<br \><br \> <t>Suppose one of you has a hundred sheep and loses one of them. Does he not leave the ninety-nine in the open country and go after the lost sheep until he finds it? And when he finds it, he joyfully puts it on his shoulders and goes home. Then he calls his friends and neighbors together and says, ‘Rejoice with me; I have found my lost sheep.’ I tell you that in the same way there will be more rejoicing in heaven over one sinner who repents than over ninety-nine righteous persons who do not need to repent</t>
<br \><br \> <t>This parable explains the importance of missionary work to the people who knew the importance of their sheep</t>
<br \><br \> <t>He uses the connection they understand (the master to the sheep), to explain the connection between himself and the people who have sinned, and the joy he receives when they repent</t>
<br \><br \> <t>Now you may be thinking, I have no idea how important sheep were to someone back then, this parable only makes understanding the concept a little bit easier</t>
<br \><br \> <t>To help understand concepts now, general authorities have told stories that are the modern-day equivalent of parables, these stories have helped many people understand concepts</t>
<br \><br \> <t>Here is a story told by Elder Robbins</t>
<br \><br \> <t>In 1970, as a new freshman at BYU, I enrolled in a beginning course on the essentials of physics taught by Jae Ballif, an outstanding professor. After finishing each unit of the course, he would administer an exam. If a student received a C and wanted a better grade, Professor Ballif would allow the student to take a modified exam covering the same material. If the student received a B on the second attempt and was still unsatisfied, he or she could take the test a third time and a fourth, and so on. By allowing me numerous second chances, he helped me excel and finally earn an A in his class.</t>
<br \><br \> <t>He was an uncommonly wise professor who inspired his students to keep trying—to consider failure as a tutor, not as a tragedy, and to not fear failure but to learn from it.</t>
<br \><br \> <t>Recently I telephoned this great man 47 years after taking his physics course. I asked him why he was willing to allow students unlimited attempts to improve their grade. His response: “I wanted to be on the same side as the students.”</t>
<br \><br \> <t>Elder Robbins goes on to explain that the Lord is always on our side, and what may seem like him making us learn the same lessons repeatedly is actually him offering us more chances when we fail</t>
<br \><br \> <t>Without the story beforehand, his message may have been misinterpreted or perceived as common knowledge or boring, but by adding a story (or parable) he can be specific and keep his message interesting</t>
<br \><br \> <t>When teaching, using parables like the savior did is one of the best ways to keep people engaged and help them understand what you’re saying</t>
<br \><br \> <t>If you use parables and stories relatable to those you are teaching, they will stay more engaged and learn more from your lessons</t>
<br \><br \> <t>I say these things in the name of Jesus Christ, amen</t>

{% endblock %}
